<div class="search-form">

  <%= form_with(scope: :search, url: search_payment_records_path, method: :get, local: true) do |f| %>

  <%= f.label :date, "検索日" %>
  <%= f.date_field :from_date, value: @search_params[:date] %> ~
  <%= f.date_field :to_date, value: @search_params[:date] %>

  <%= f.label :category, "カテゴリ" %>
  <%= f.collection_select :category_id, Category.all, :id, :category_name, prompt: "必要な場合は選択", class: 'form-control col-7' %>

  <%= f.label :payment_method, "支払方法" %>
  <%= f.text_field :payment_method, value: @search_params[:payment_method] %>

  <%= f.label :memo, "メモ" %>
  <%= f.text_field :memo, value: @search_params[:memo] %>

  <%= submit_tag '検索', class: "button" %>
  <% end %>
</div>

<table>
<tr>
<td> <br>
<h3>支払金額合計　<%= @total_search_payment.to_s(:delimited) %>円</h3><td>
</tr>
</table>

 <table class='table table-hover '>
  　<thead>
    <tr>
      <th class="col-1">日付</th>
      <th class="col-3">カテゴリ</th>
      <th class="col-2">支払方法</th>
      <th class="col-2">メモ</th>
      <th class="col-2">支払金額</th>
      <th class="col-2">証憑画像</th>
    </tr>
    </thead>
    <tbody>
      <% unless @search_params.blank? %>
      <% @spayment_records.each do |search| %>
    <tr>
      <td><%= link_to search.date, payment_record_path(search) %></td>
      <td><%= search.category.category_name %></td>
      <td><%= search.payment_method %></td>
      <td><%= search.memo %></td>
      <td><%= search.payment.to_s(:delimited) %></td>
      <td><%= attachment_image_tag search, :voucher, format: 'jpeg', class: 'img-fluid' %></td>
    </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>