<!DOCTYPE html>
<html>
  <head>
    <title>EMA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
          <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <% if user_signed_in? %>
               <span style="color:white">ようこそ<%= current_user.name %>さん！</span>
              <% end %>
              <ul class="navbar-nav ml-auto offset-6">
                <% if user_signed_in? %>
                  <li><%= link_to "トップ", root_path, class: 'nav-link active' %></li>
                  <li><%= link_to "サイト説明", homes_about_path, class: 'nav-link active' %></li>
                  <li><%= link_to "入力画面一覧", payment_records_path(current_user), class: 'nav-link active' %></li>
                  <li><%= link_to "検索",search_payment_records_path(current_user), class: 'nav-link active' %></li>
                  <li><%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: 'nav-link active' %></li>
                  <li><%= link_to "退会",  confirm_unsubscribe_path(current_user), class: 'nav-link active' %></li>
                <% else %>
                  <li><%= link_to "トップ", root_path, class: 'nav-link active' %></li>
                  <li><%= link_to "サイト説明", homes_about_path, class: 'nav-link active' %></li>
                  <li><%= link_to "ログイン", new_user_session_path, class: 'nav-link active' %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <div class="">

      <%= yield %>

    </div>
    <footer class="footer mt-5 bg-dark fixed-bottom">
      <p class="text-white text-center pt-3">©EMA</p>
    </footer>

  </body>
</html>
